.heading{
    color:red ;
     text-align: center;
     text-decoration:overline;
     font-weight: 100;
     font-family: arial;
     line-height: 20px;
     text-transform: capitalize;

}
*{
    background-color: black;
}
   