body {
    font-family: Arial, sans-serif;
    background-color: #f0cccc79;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main-container {
    display: flex;
    gap: 30px; 
}
.container {
    width: 250px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}
.image-container {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.image-container img {
    width: 80px;
}